.main-container {
  width: 50%;
}
.main {
  width: 75%;
}
.from {
  width: 100%;
  align-items: flex-end !important;
  justify-content: space-evenly !important;
  margin: 2% 0;
}

.btn {
  font-size: 1.4rem;
  padding: 9px;
  border: none;
  outline: none;
  border-radius: 50%;
}
