.main-container {
  min-height: 35vh;
  width: 54%;
}

.main {
  width: 75%;
}

.from {
  width: 100%;
  align-items: flex-end !important;
  justify-content: space-between !important;
  padding: 0 16px;
  margin: 2% 0;
}

.btn {
  height: 75px;
  width: 75px;
  font-size: 1.75rem;
  padding: 9px;
  border: none;
  outline: none;
  border-radius: 50%;
  color: #fafafa;
  background-color: #3495eb;
  transition: all 0.4s;
}

.btn:hover {
  transform: scale(1.1,1.1);
}

.btn:active {
  transform: scale(0.9,0.9);
}



.btn p {
  height: 35%;
  line-height: 0.68;
}

.converted {
  align-items: flex-end !important;
}

@media only screen and (max-width: 1024px) {

  .main-container {
    width: 100%;
  }

  .from__column {
    align-items: flex-start !important;
    flex-direction: column !important;
  }

  .from__column input {
    width: 91%;
  }

  .converted {
    margin-left: 4%;
  }

}
